@font-face {
  font-family: texgyreherosregular;
  src: url("texgyreheros-regular.otf");
}

@font-face {
  font-family: texgyreherosregular;
  src: url("texgyreheros-regular.otf");
}

body {

}

.structure {
  width: 100%;
}


.topNav {
  width: 90%;
  max-width: 800px;
  height: 40px;
}

.navText {
  float: left;
  font-size: 20px;
  font-family: texgyreherosregular;
}

#yearText {
  float: right;
}

.homeDisplay {
  width: 90%;
  max-width: 800px;
}

.homeDisplayText {
  text-align: left;
  font-size: 40px;
  font-family: texgyreherosregular;
  line-height: 48px;
}

.nameNav {
  width: 80%;
  max-width: 700px;
  text-align: left;

}

.nameText {
  font-family: texgyreherosregular;
  display: block;
  padding-top: 10px;
  font-size: 40px;
  text-align: left;
  color: black;
  text-decoration: none;
}

.nameText:hover {
  color: blue;
}

.scrollable {
        width: 600px;
        height: 150px;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: center;
        padding: 20px;
}
